# Ignore virtual environments
Usecases/
.venv/
venv/

# Ignore Python cache and bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
# Secrets
*.json
*.pickle
credentials/
# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment-related
.env

config.config

Question_17_Gmail/credentials/token.pickle
Question_17_Gmail/credentials/Credentials.json